<div [@routerTransition]>
  <div class="kt-subheader kt-grid__item">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        <span>Customer Profile</span>
      </h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>
      <span class="kt-subheader__desc">
        Manage demo customer profile
      </span>
    </div>
    <div class="kt-subheader__toolbar">
      <div class="kt-subheader__wrapper">
        <button (click)="goBack()" class="btn btn-primary blue"><i class="fa fa-reply"></i> {{l("Go Back")}}</button>
      </div>
    </div>
  </div>
  <div class="kt-content">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="kt-portlet" style="min-height: 800px;">
          <div class="kt-portlet__body">
            <div class="kt-card-profile">
              <div class="kt-card-profile__title m--hide">
                Your Profile
              </div>
              <div class="kt-card-profile__pic">
                <div class="kt-card-profile__pic-wrapper">
                  <img src="/assets/common/images/sampleProfilePics/{{customerPicture}}" alt="">
                </div>
              </div>
              <div class="kt-card-profile__details">
                <span class="kt-card-profile__name">{{customerName}}</span>
                <a href="javascript:void(0);" class="kt-card-profile__email m-link">
                  <span class="btn btn-label-success btn-sm">
                    Active
                  </span>
                </a>
              </div>
            </div>
            <!-- <ul class="kt-nav m-nav--hover-bg m-portlet-fit--sides">
                          <li class="kt-nav__separator m-nav__separator--fit"></li>
                          <li class="kt-nav__section m--hide">
                              <span class="kt-nav__section-text">Section</span>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-profile-1"></i>
                                  <span class="kt-nav__link-title">
                                      <span class="kt-nav__link-wrap">
                                          <span class="kt-nav__link-text">Summary</span>
                                      </span>
                                  </span>
                              </a>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-share"></i>
                                  <span class="kt-nav__link-text">Devices</span>
                              </a>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-chat-1"></i>
                                  <span class="kt-nav__link-text">Beneficiaries</span>
                              </a>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-graphic-2"></i>
                                  <span class="kt-nav__link-text">Bills</span>
                              </a>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-time-3"></i>
                                  <span class="kt-nav__link-text">Merchants</span>
                              </a>
                          </li>
                          <li class="kt-nav__item">
                              <a href="../header/profile&amp;demo=default.html" class="kt-nav__link">
                                  <i class="kt-nav__link-icon flaticon-lifebuoy"></i>
                                  <span class="kt-nav__link-text">ATMs</span>
                              </a>
                          </li>
                      </ul> -->

            <div class="kt-portlet__body-separator"></div>
            <div class="kt-widget1 m-widget1--paddingless">
              <div class="kt-widget1__item" style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">{{customerID}}</h3>
                    <div class="kt-widget1__desc">Customer ID</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget1__item" style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">{{customerBVN}}</h3>
                    <div class="kt-widget1__desc">Phone Number </div>
                  </div>
                </div>
              </div>
              <div class="kt-widget1__item " style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">moretunez, eazyflex</h3>
                    <div class="kt-widget1__desc">Product</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget1__item " style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">Lagos, Nigeria</h3>
                    <div class="kt-widget1__desc">Location</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget1__item " style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">{{customerDOB}}</h3>
                    <div class="kt-widget1__desc">Date of Birth</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget1__item " style="text-align: center">
                <div class="" style="width: 100%">
                  <div class="col">
                    <h3 class="kt-widget1__title">{{gender}}</h3>
                    <div class="kt-widget1__desc">Gender</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-8">
        <div class="row">
          <div class="col-xl-4 col-lg-4">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"> Products </h3>
                  </div>
                </div>
              <div class="kt-portlet__body">
                <p>
                  <strong>Data Balance</strong><br>
                  {{savings_acct}} <span class="text-info">(Bal: ₦{{savings_acct_bal | number}})</span><br>
                </p>
                <p>
                  <strong>Voice Balance</strong><br>
                  {{current_acct}} <span class="text-info">(Bal: ₦{{current_acct_bal | number}})</span><br>
                </p>
              </div>
            </div>

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title"> Contact Information </h3>
                    </div>
                  </div>
              <div class="kt-portlet__body">
                <p>
                  <strong>Residential Address</strong><br>
                  <span [innerHtml]="address"></span>
                </p>

                <p>
                  <strong>Phone Numbers</strong><br>
                  {{phone}}<br>
                </p>

                <p>
                  <strong>Email</strong><br>
                  {{email}}<br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="kt-portlet">
              <div class="kt-portlet__body">
                <div class="m-widget5">
                  <div class="m-widget5__item">
                    <div class="m-widget5__content">
                      <div class="m-widget5__pic">
                        <img class="m-widget7__img" src="/assets/common/images/icons/icons8-people-100.png" alt="">
                      </div>
                      <div class="m-widget5__section">
                        <h4 class="m-widget5__title">
                          Next Best Offers
                        </h4>
                        <span class="m-widget5__desc">
                          Top 3 Next Best Products to recommend
                        </span>
                      </div>
                    </div>
                    <div class="m-widget5__content">
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">talkzone</span><br>
                        <span class="m-widget5__sales">NBO 1</span>
                      </div>
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">moretalk</span><br>
                        <span class="m-widget5__sales">NBO 2</span>
                      </div>
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">kwikcash</span><br>
                        <span class="m-widget5__votes">NBO 3</span>
                      </div>
                      <!-- <div class="kt-widget5__stats3">
                                        <span class="kt-widget5__number">Daily</span><br>
                                        <span class="kt-widget5__votes">Frequency</span>
                                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                  <div class="m-widget5">
                    <div class="m-widget5__item">
                      <div class="m-widget5__content">
                        <div class="m-widget5__pic">
                          <img class="kt-widget7__img" src="/assets/common/images/icons/icons8-multiple-devices-100.png"
                            alt="">
                        </div>
                        <div class="m-widget5__section">
                          <h4 class="m-widget5__title">
                            Devices
                          </h4>
                          <span class="m-widget5__desc">
                            Smart phones & Laptops
                          </span>
                        </div>
                      </div>
                      <div class="m-widget5__content">
                        <div class="m-widget5__stats3">
                          <span class="m-widget5__number">{{device.count}}</span><br>
                          <span class="m-widget5__sales"># of Device</span>
                        </div>
                        <div class="m-widget5__stats3">
                          <span class="m-widget5__number">{{device.trans}}</span><br>
                          <span class="m-widget5__sales">Transactions</span>
                        </div>
                        <div class="m-widget5__stats3">
                          <span class="m-widget5__number">₦{{device.amt}}K</span><br>
                          <span class="m-widget5__votes">Value</span>
                        </div>
                        <!-- <div class="kt-widget5__stats3">
                                          <span class="kt-widget5__number">Daily</span><br>
                                          <span class="kt-widget5__votes">Frequency</span>
                                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- <div class="kt-portlet">
              <div class="kt-portlet__body">
                <div class="m-widget5">
                  <div class="m-widget5__item">
                    <div class="m-widget5__content">
                      <div class="m-widget5__pic">
                        <img class="m-widget7__img" src="/assets/common/images/icons/icons8-cash-receipt-100.png"
                          alt="">
                      </div>
                      <div class="m-widget5__section">
                        <h4 class="m-widget5__title">
                          Bills
                        </h4>
                        <span class="m-widget5__desc">
                          Bills he pays
                        </span>
                      </div>
                    </div> -->
                    <!-- <div class="m-widget5__content">
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">{{bill.count}}</span><br>
                        <span class="m-widget5__sales"># of Merchants</span>
                      </div>
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">{{bill.trans}}</span><br>
                        <span class="m-widget5__sales">Transactions</span>
                      </div>
                      <div class="m-widget5__stats3">
                        <span class="m-widget5__number">₦{{bill.amt}}K</span><br>
                        <span class="m-widget5__votes">Value</span>
                      </div> -->
                      <!-- <div class="kt-widget5__stats3">
                                        <span class="kt-widget5__number">Daily</span><br>
                                        <span class="kt-widget5__votes">Frequency</span>
                                      </div> -->
                    <!-- </div> -->
                  <!-- </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-xl-5">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title"> Location Activity </h3>
                    </div>
                  </div>
              <div class="">
                <img class="img-fluid" src="/assets/common/images/icons/UserActivity.jpg" width="100%">
              </div>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                      <h3 class="kt-portlet__head-title"> Link Analysis </h3>
                    </div>
                  </div>
              <div class="">
                <img class="img-fluid" src="/assets/common/images/icons/linkAnalysis.gif" width="100%">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="kt-portlet">
              <div class="kt-portlet__body">
                <h4>Top 3 Channels</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="width: 20%">Channel</th>
                        <th scope="col" style="width: 20%">Transaction Type</th>
                        <th scope="col" style="width: 15%"># of Transactions</th>
                        <th scope="col" style="width: 15%">Total</th>
                        <th scope="col" style="width: 15%">Average</th>
                        <th scope="col" style="width: 15%">Frequency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of top3_channels">
                        <th scope="row">{{item.channel}}</th>
                        <td>{{item.transType}}</td>
                        <td>{{item.count | number}}</td>
                        <td>₦{{item.total | number}}</td>
                        <td>₦{{(item.total / item.count).toFixed(0) | number}}</td>
                        <td>{{item.freq}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <hr>
                <br>

                <h4>Top 3 Devices</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="width: 20%">Device Name</th>
                        <th scope="col" style="width: 20%">Operating System</th>
                        <th scope="col" style="width: 15%"># of Transactions</th>
                        <th scope="col" style="width: 15%">Total</th>
                        <th scope="col" style="width: 15%">Average</th>
                        <th scope="col" style="width: 15%">Frequency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of top3_devices">
                        <th scope="row">{{item.device}}</th>
                        <td>{{item.os}}</td>
                        <td>{{item.count | number}}</td>
                        <td>₦{{item.total | number}}</td>
                        <td>₦{{(item.total / item.count).toFixed(0) | number}}</td>
                        <td>{{item.freq}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <hr>
                <br>

                <h4>Top 3 Next Best Offers</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="width: 20%">Channel</th>
                        <th scope="col" style="width: 20%">NBO 1</th>
                        <th scope="col" style="width: 15%">NBO 2</th>
                        <th scope="col" style="width: 15%">NBO 3</th>
                        <!-- <th scope="col" style="width: 15%">Average</th>
                        <th scope="col" style="width: 15%">Frequency</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of top3_bens">
                        <th scope="row">{{item.name}}</th>
                        <td>{{item.bank}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.total}}</td>
                        <!-- <td>₦{{(item.total / item.count).toFixed(0) | number}}</td>
                        <td>{{item.freq}}</td> -->
                      </tr>
                      <tr>
                    </tbody>
                  </table>
                </div>

                <hr>
                <br>
<!-- 
                <h4>Top 3 Merchants</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" style="width: 20%">Merchant Name</th>
                        <th scope="col" style="width: 20%">Category</th>
                        <th scope="col" style="width: 15%"># of Transactions</th>
                        <th scope="col" style="width: 15%">Total</th>
                        <th scope="col" style="width: 15%">Average</th>
                        <th scope="col" style="width: 15%">Frequency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of top3_merchants">
                        <th scope="row">{{item.name}}</th>
                        <td>{{item.cat}}</td>
                        <td>{{item.count | number}}</td>
                        <td>₦{{item.total | number}}</td>
                        <td>₦{{(item.total / item.count).toFixed(0) | number}}</td>
                        <td>{{item.freq}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>