.m-widget5 .m-widget5__item {
    margin-bottom: 0rem !important;
    padding-bottom: 0rem !important;
    display: inline;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__section {
    vertical-align: middle;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__stats3 {
    text-align: right;
    display: inline-block;
    padding-top: 2.5rem;
    vertical-align: middle;
    padding-left: 2rem;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__stats3 .m-widget5__number {
    font-size: 1.5rem;
    font-weight: 600;
}

.m-widget5 .m-widget5__item .m-widget5__stats3 .m-widget5__number {
    color: #6f727d;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__section .m-widget5__title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__pic>img {
    padding: 1rem;
    width: 8.6rem;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__pic {
    width: 5rem;
    display: table-cell;
}

.m-widget5 .m-widget5__item .m-widget5__content:last-child {
    float: right;
}

.m-widget5 .m-widget5__item .m-widget5__content {
    display: table-cell;
    vertical-align: top;
}

.kt-widget1__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.m-widget5 .m-widget5__item .m-widget5__content .m-widget5__section {
    vertical-align: middle;
    display: table-cell;
    padding-left: 1.43rem;
    padding-top: 0.3rem;
}