<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productRecommenderSystemNBOForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productRecommenderSystemNBO.id">{{l("EditProductRecommenderSystemNBO")}}</span>
                        <span *ngIf="!productRecommenderSystemNBO.id">{{l("CreateNewProductRecommenderSystemNBO")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_CustomerID">{{l("CustomerID")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_CustomerID" class="form-control" [(ngModel)]="productRecommenderSystemNBO.customerID" name="CustomerID"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_LastTransactionDate">{{l("LastTransactionDate")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="lastTransactionDate" id="ProductRecommenderSystemNBO_LastTransactionDate" name="ProductRecommenderSystemNBO_LastTransactionDate">
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_NumberOfdays">{{l("NumberOfdays")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_NumberOfdays" class="form-control" [(ngModel)]="productRecommenderSystemNBO.numberOfdays" name="NumberOfdays"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_Clusters">{{l("Clusters")}}</label>
									<input type="number" id="ProductRecommenderSystemNBO_Clusters" class="form-control" [(ngModel)]="productRecommenderSystemNBO.clusters" name="Clusters"  />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_TransactionAmount">{{l("TransactionAmount")}}</label>
									<input type="number" id="ProductRecommenderSystemNBO_TransactionAmount" class="form-control" [(ngModel)]="productRecommenderSystemNBO.transactionAmount" name="TransactionAmount"  />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_CustomerRegistrationLocation">{{l("CustomerRegistrationLocation")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_CustomerRegistrationLocation" class="form-control" [(ngModel)]="productRecommenderSystemNBO.customerRegistrationLocation" name="CustomerRegistrationLocation"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_LastTransactionLocation">{{l("LastTransactionLocation")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_LastTransactionLocation" class="form-control" [(ngModel)]="productRecommenderSystemNBO.lastTransactionLocation" name="LastTransactionLocation"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_ProbabilityOfChurn">{{l("ProbabilityOfChurn")}}</label>
									<input type="number" id="ProductRecommenderSystemNBO_ProbabilityOfChurn" class="form-control" [(ngModel)]="productRecommenderSystemNBO.probabilityOfChurn" name="ProbabilityOfChurn"  />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morecliq" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morecliq" type="checkbox" name="morecliq" [(ngModel)]="productRecommenderSystemNBO.morecliq"> 
										{{l("morecliq")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_moretalk" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_moretalk" type="checkbox" name="moretalk" [(ngModel)]="productRecommenderSystemNBO.moretalk"> 
										{{l("moretalk")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_moreflex" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_moreflex" type="checkbox" name="moreflex" [(ngModel)]="productRecommenderSystemNBO.moreflex"> 
										{{l("moreflex")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_cliqlite" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_cliqlite" type="checkbox" name="cliqlite" [(ngModel)]="productRecommenderSystemNBO.cliqlite"> 
										{{l("cliqlite")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_talkzone" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_talkzone" type="checkbox" name="talkzone" [(ngModel)]="productRecommenderSystemNBO.talkzone"> 
										{{l("talkzone")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morelifeComplete" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morelifeComplete" type="checkbox" name="morelifeComplete" [(ngModel)]="productRecommenderSystemNBO.morelifeComplete"> 
										{{l("morelifeComplete")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morebusiness" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morebusiness" type="checkbox" name="morebusiness" [(ngModel)]="productRecommenderSystemNBO.morebusiness"> 
										{{l("morebusiness")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morelifePostpaid" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morelifePostpaid" type="checkbox" name="morelifePostpaid" [(ngModel)]="productRecommenderSystemNBO.morelifePostpaid"> 
										{{l("morelifePostpaid")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_moreflexPostpaid" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_moreflexPostpaid" type="checkbox" name="moreflexPostpaid" [(ngModel)]="productRecommenderSystemNBO.moreflexPostpaid"> 
										{{l("moreflexPostpaid")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_classicPostpaid" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_classicPostpaid" type="checkbox" name="classicPostpaid" [(ngModel)]="productRecommenderSystemNBO.classicPostpaid"> 
										{{l("classicPostpaid")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_postpaidAccountBillPayment">{{l("postpaidAccount&BillPayment")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_postpaidAccountBillPayment" class="form-control" [(ngModel)]="productRecommenderSystemNBO.postpaidAccountBillPayment" name="postpaidAccountBillPayment"    />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_postpaidBillBankPayment" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_postpaidBillBankPayment" type="checkbox" name="postpaidBillBankPayment" [(ngModel)]="productRecommenderSystemNBO.postpaidBillBankPayment"> 
										{{l("postpaidBillBankPayment")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_IDDRates" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_IDDRates" type="checkbox" name="IDDRates" [(ngModel)]="productRecommenderSystemNBO.iddRates"> 
										{{l("IDDRates")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_roamingInfo" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_roamingInfo" type="checkbox" name="roamingInfo" [(ngModel)]="productRecommenderSystemNBO.roamingInfo"> 
										{{l("roamingInfo")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_roamingRates" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_roamingRates" type="checkbox" name="roamingRates" [(ngModel)]="productRecommenderSystemNBO.roamingRates"> 
										{{l("roamingRates")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_internationalGiftRecharge" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_internationalGiftRecharge" type="checkbox" name="internationalGiftRecharge" [(ngModel)]="productRecommenderSystemNBO.internationalGiftRecharge"> 
										{{l("internationalGiftRecharge")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_umrahHajjRoaming" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_umrahHajjRoaming" type="checkbox" name="umrahHajjRoaming" [(ngModel)]="productRecommenderSystemNBO.umrahHajjRoaming"> 
										{{l("umrahHajjRoaming")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_kwikcash" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_kwikcash" type="checkbox" name="kwikcash" [(ngModel)]="productRecommenderSystemNBO.kwikcash"> 
										{{l("kwikcash")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morecredit" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morecredit" type="checkbox" name="morecredit" [(ngModel)]="productRecommenderSystemNBO.morecredit"> 
										{{l("morecredit")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_automatedRecharge" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_automatedRecharge" type="checkbox" name="automatedRecharge" [(ngModel)]="productRecommenderSystemNBO.automatedRecharge"> 
										{{l("automatedRecharge")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_ moreWallet">{{l(" moreWallet")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_ moreWallet" class="form-control" [(ngModel)]="productRecommenderSystemNBO. moreWallet" name=" more-wallet"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_ microInsurance">{{l(" micro-insurance")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_ microInsurance" class="form-control" [(ngModel)]="productRecommenderSystemNBO. microInsurance" name=" microInsurance"    />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_moresavers" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_moresavers" type="checkbox" name="moresavers" [(ngModel)]="productRecommenderSystemNBO.moresavers"> 
										{{l("moresavers")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_morestatus" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_morestatus" type="checkbox" name="morestatus" [(ngModel)]="productRecommenderSystemNBO.morestatus"> 
										{{l("morestatus")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_moretunez" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_moretunez" type="checkbox" name="moretunez" [(ngModel)]="productRecommenderSystemNBO.moretunez"> 
										{{l("moretunez")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_corporateRbt" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_corporateRbt" type="checkbox" name="corporateRbt" [(ngModel)]="productRecommenderSystemNBO.corporateRbt"> 
										{{l("corporateRbt")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_games" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_games" type="checkbox" name="games" [(ngModel)]="productRecommenderSystemNBO.games"> 
										{{l("games")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_news" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_news" type="checkbox" name="news" [(ngModel)]="productRecommenderSystemNBO.news"> 
										{{l("news")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_daily25MB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_daily25MB" type="checkbox" name="daily25MB" [(ngModel)]="productRecommenderSystemNBO.daily25MB"> 
										{{l("daily25MB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_daily100MB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_daily100MB" type="checkbox" name="daily100MB" [(ngModel)]="productRecommenderSystemNBO.daily100MB"> 
										{{l("daily100MB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_weekly150MB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_weekly150MB" type="checkbox" name="weekly150MB" [(ngModel)]="productRecommenderSystemNBO.weekly150MB"> 
										{{l("weekly150MB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Dnight1GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Dnight1GB" type="checkbox" name="Dnight1GB" [(ngModel)]="productRecommenderSystemNBO.dnight1GB"> 
										{{l("Dnight1GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_MNight2GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_MNight2GB" type="checkbox" name="MNight2GB" [(ngModel)]="productRecommenderSystemNBO.mNight2GB"> 
										{{l("MNight2GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_MNight5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_MNight5GB" type="checkbox" name="MNight5GB" [(ngModel)]="productRecommenderSystemNBO.mNight5GB"> 
										{{l("MNight5GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_yearly30GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_yearly30GB" type="checkbox" name="yearly30GB" [(ngModel)]="productRecommenderSystemNBO.yearly30GB"> 
										{{l("yearly30GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_yearly60GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_yearly60GB" type="checkbox" name="yearly60GB" [(ngModel)]="productRecommenderSystemNBO.yearly60GB"> 
										{{l("yearly60GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_yearly120GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_yearly120GB" type="checkbox" name="yearly120GB" [(ngModel)]="productRecommenderSystemNBO.yearly120GB"> 
										{{l("yearly120GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly500MB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly500MB" type="checkbox" name="Monthly500MB" [(ngModel)]="productRecommenderSystemNBO.monthly500MB"> 
										{{l("Monthly500MB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly1GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly1GB" type="checkbox" name="Monthly1GB" [(ngModel)]="productRecommenderSystemNBO.monthly1GB"> 
										{{l("Monthly1GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly1point5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly1point5GB" type="checkbox" name="Monthly1point5GB" [(ngModel)]="productRecommenderSystemNBO.monthly1point5GB"> 
										{{l("Monthly1point5GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly2point5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly2point5GB" type="checkbox" name="Monthly2point5GB" [(ngModel)]="productRecommenderSystemNBO.monthly2point5GB"> 
										{{l("Monthly2point5GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly4GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly4GB" type="checkbox" name="Monthly4GB" [(ngModel)]="productRecommenderSystemNBO.monthly4GB"> 
										{{l("Monthly4GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly5point5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly5point5GB" type="checkbox" name="Monthly5point5GB" [(ngModel)]="productRecommenderSystemNBO.monthly5point5GB"> 
										{{l("Monthly5point5GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly7point1GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly7point1GB" type="checkbox" name="Monthly7point1GB" [(ngModel)]="productRecommenderSystemNBO.monthly7point1GB"> 
										{{l("Monthly7point1GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly11point5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly11point5GB" type="checkbox" name="Monthly11point5GB" [(ngModel)]="productRecommenderSystemNBO.monthly11point5GB"> 
										{{l("Monthly11point5GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly15GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly15GB" type="checkbox" name="Monthly15GB" [(ngModel)]="productRecommenderSystemNBO.monthly15GB"> 
										{{l("Monthly15GB")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductRecommenderSystemNBO_Monthly27point5GB" class="kt-checkbox">
										<input id="ProductRecommenderSystemNBO_Monthly27point5GB" type="checkbox" name="Monthly27point5GB" [(ngModel)]="productRecommenderSystemNBO.monthly27point5GB"> 
										{{l("Monthly27point5GB")}}
										<span></span>
									</label>
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_NextBestOffer1">{{l("NextBestOffer1")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_NextBestOffer1" class="form-control" [(ngModel)]="productRecommenderSystemNBO.nextBestOffer1" name="NextBestOffer1"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_NextBestOffer2">{{l("NextBestOffer2")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_NextBestOffer2" class="form-control" [(ngModel)]="productRecommenderSystemNBO.nextBestOffer2" name="NextBestOffer2"    />
								</div>
					
								<div class="form-group">
									<label for="ProductRecommenderSystemNBO_NextBestOffer3">{{l("NextBestOffer3")}}</label>
									<input type="text" id="ProductRecommenderSystemNBO_NextBestOffer3" class="form-control" [(ngModel)]="productRecommenderSystemNBO.nextBestOffer3" name="NextBestOffer3"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productRecommenderSystemNBOForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>