<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("ProductRecommenderSystemNBO")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("ProductRecommenderSystemNBOHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.ProductRecommenderSystemNBO.Create')" (click)="createProductRecommenderSystemNBO()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewProductRecommenderSystemNBO")}}</button>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
			
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getProductRecommenderSystemNBO()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="CustomerIDFilter">{{l("CustomerID")}}</label>
									<input type="text" class="form-control" id="CustomerIDFilter" name="customerIDFilter" [(ngModel)]="customerIDFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinLastTransactionDateFilter">{{l("LastTransactionDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinLastTransactionDateFilter" name="MinLastTransactionDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minLastTransactionDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxLastTransactionDateFilter" name="MaxLastTransactionDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxLastTransactionDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NumberOfdaysFilter">{{l("NumberOfdays")}}</label>
									<input type="text" class="form-control" id="NumberOfdaysFilter" name="numberOfdaysFilter" [(ngModel)]="numberOfdaysFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinClustersFilter">{{l("MinMax")}} {{l("Clusters")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinClustersFilter" [(ngModel)]="minClustersFilter" placeholder="{{l('MinValue')}}" name="minClustersFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxClustersFilter" placeholder="{{l('MaxValue')}}" name="maxClustersFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinTransactionAmountFilter">{{l("MinMax")}} {{l("TransactionAmount")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinTransactionAmountFilter" [(ngModel)]="minTransactionAmountFilter" placeholder="{{l('MinValue')}}" name="minTransactionAmountFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxTransactionAmountFilter" placeholder="{{l('MaxValue')}}" name="maxTransactionAmountFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CustomerRegistrationLocationFilter">{{l("CustomerRegistrationLocation")}}</label>
									<input type="text" class="form-control" id="CustomerRegistrationLocationFilter" name="customerRegistrationLocationFilter" [(ngModel)]="customerRegistrationLocationFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="LastTransactionLocationFilter">{{l("LastTransactionLocation")}}</label>
									<input type="text" class="form-control" id="LastTransactionLocationFilter" name="lastTransactionLocationFilter" [(ngModel)]="lastTransactionLocationFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinProbabilityOfChurnFilter">{{l("MinMax")}} {{l("ProbabilityOfChurn")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinProbabilityOfChurnFilter" [(ngModel)]="minProbabilityOfChurnFilter" placeholder="{{l('MinValue')}}" name="minProbabilityOfChurnFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxProbabilityOfChurnFilter" placeholder="{{l('MaxValue')}}" name="maxProbabilityOfChurnFilter" />
									</div>
                                </div>
                            </div>	
							<div class="col-md-3">
								<label for="morecliqFilterSelect">{{l("morecliq")}}</label>
								<select class="form-control" name="morecliqFilter" id="morecliqFilterSelect" [(ngModel)]="morecliqFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="moretalkFilterSelect">{{l("moretalk")}}</label>
								<select class="form-control" name="moretalkFilter" id="moretalkFilterSelect" [(ngModel)]="moretalkFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="moreflexFilterSelect">{{l("moreflex")}}</label>
								<select class="form-control" name="moreflexFilter" id="moreflexFilterSelect" [(ngModel)]="moreflexFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="cliqliteFilterSelect">{{l("cliqlite")}}</label>
								<select class="form-control" name="cliqliteFilter" id="cliqliteFilterSelect" [(ngModel)]="cliqliteFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="talkzoneFilterSelect">{{l("talkzone")}}</label>
								<select class="form-control" name="talkzoneFilter" id="talkzoneFilterSelect" [(ngModel)]="talkzoneFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="morelifeCompleteFilterSelect">{{l("morelifeComplete")}}</label>
								<select class="form-control" name="morelifeCompleteFilter" id="morelifeCompleteFilterSelect" [(ngModel)]="morelifeCompleteFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="morebusinessFilterSelect">{{l("morebusiness")}}</label>
								<select class="form-control" name="morebusinessFilter" id="morebusinessFilterSelect" [(ngModel)]="morebusinessFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="morelifePostpaidFilterSelect">{{l("morelifePostpaid")}}</label>
								<select class="form-control" name="morelifePostpaidFilter" id="morelifePostpaidFilterSelect" [(ngModel)]="morelifePostpaidFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="moreflexPostpaidFilterSelect">{{l("moreflexPostpaid")}}</label>
								<select class="form-control" name="moreflexPostpaidFilter" id="moreflexPostpaidFilterSelect" [(ngModel)]="moreflexPostpaidFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="classicPostpaidFilterSelect">{{l("classicPostpaid")}}</label>
								<select class="form-control" name="classicPostpaidFilter" id="classicPostpaidFilterSelect" [(ngModel)]="classicPostpaidFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="postpaidAccountBillPaymentFilter">{{l("postpaidAccountBillPayment")}}</label>
									<input type="text" class="form-control" id="postpaidAccountBillPaymentFilter" name="postpaidAccountBillPaymentFilter" [(ngModel)]="postpaidAccountBillPaymentFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="postpaidBillBankPaymentFilterSelect">{{l("postpaidBillBankPayment")}}</label>
								<select class="form-control" name="postpaidBillBankPaymentFilter" id="postpaidBillBankPaymentFilterSelect" [(ngModel)]="postpaidBillBankPaymentFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="IDDRatesFilterSelect">{{l("IDDRates")}}</label>
								<select class="form-control" name="IDDRatesFilter" id="IDDRatesFilterSelect" [(ngModel)]="iddRatesFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="roamingInfoFilterSelect">{{l("roamingInfo")}}</label>
								<select class="form-control" name="roamingInfoFilter" id="roamingInfoFilterSelect" [(ngModel)]="roamingInfoFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="roamingRatesFilterSelect">{{l("roamingRates")}}</label>
								<select class="form-control" name="roamingRatesFilter" id="roamingRatesFilterSelect" [(ngModel)]="roamingRatesFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="internationalGiftRechargeFilterSelect">{{l("internationalGiftRecharge")}}</label>
								<select class="form-control" name="internationalGiftRechargeFilter" id="internationalGiftRechargeFilterSelect" [(ngModel)]="internationalGiftRechargeFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="umrahHajjRoamingFilterSelect">{{l("umrahHajjRoaming")}}</label>
								<select class="form-control" name="umrahHajjRoamingFilter" id="umrahHajjRoamingFilterSelect" [(ngModel)]="umrahHajjRoamingFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="kwikcashFilterSelect">{{l("kwikcash")}}</label>
								<select class="form-control" name="kwikcashFilter" id="kwikcashFilterSelect" [(ngModel)]="kwikcashFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="morecreditFilterSelect">{{l("morecredit")}}</label>
								<select class="form-control" name="morecreditFilter" id="morecreditFilterSelect" [(ngModel)]="morecreditFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="automatedRechargeFilterSelect">{{l("automatedRecharge")}}</label>
								<select class="form-control" name="automatedRechargeFilter" id="automatedRechargeFilterSelect" [(ngModel)]="automatedRechargeFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for=" moreWalletFilter">{{l(" moreWallet")}}</label>
									<input type="text" class="form-control" id=" moreWalletFilter" name=" moreWalletFilter" [(ngModel)]=" moreWalletFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for=" microInsuranceFilter">{{l(" microInsurance")}}</label>
									<input type="text" class="form-control" id=" microInsuranceFilter" name=" micro-insuranceFilter" [(ngModel)]=" microInsuranceFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="moresaversFilterSelect">{{l("moresavers")}}</label>
								<select class="form-control" name="moresaversFilter" id="moresaversFilterSelect" [(ngModel)]="moresaversFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="morestatusFilterSelect">{{l("morestatus")}}</label>
								<select class="form-control" name="morestatusFilter" id="morestatusFilterSelect" [(ngModel)]="morestatusFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="moretunezFilterSelect">{{l("moretunez")}}</label>
								<select class="form-control" name="moretunezFilter" id="moretunezFilterSelect" [(ngModel)]="moretunezFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="corporateRbtFilterSelect">{{l("corporateRbt")}}</label>
								<select class="form-control" name="corporateRbtFilter" id="corporateRbtFilterSelect" [(ngModel)]="corporateRbtFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="gamesFilterSelect">{{l("games")}}</label>
								<select class="form-control" name="gamesFilter" id="gamesFilterSelect" [(ngModel)]="gamesFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="newsFilterSelect">{{l("news")}}</label>
								<select class="form-control" name="newsFilter" id="newsFilterSelect" [(ngModel)]="newsFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="daily25MBFilterSelect">{{l("daily25MB")}}</label>
								<select class="form-control" name="daily25MBFilter" id="daily25MBFilterSelect" [(ngModel)]="daily25MBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="daily100MBFilterSelect">{{l("daily100MB")}}</label>
								<select class="form-control" name="daily100MBFilter" id="daily100MBFilterSelect" [(ngModel)]="daily100MBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="weekly150MBFilterSelect">{{l("weekly150MB")}}</label>
								<select class="form-control" name="weekly150MBFilter" id="weekly150MBFilterSelect" [(ngModel)]="weekly150MBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Dnight1GBFilterSelect">{{l("Dnight1GB")}}</label>
								<select class="form-control" name="Dnight1GBFilter" id="Dnight1GBFilterSelect" [(ngModel)]="dnight1GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="MNight2GBFilterSelect">{{l("MNight2GB")}}</label>
								<select class="form-control" name="MNight2GBFilter" id="MNight2GBFilterSelect" [(ngModel)]="mNight2GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="MNight5GBFilterSelect">{{l("MNight5GB")}}</label>
								<select class="form-control" name="MNight5GBFilter" id="MNight5GBFilterSelect" [(ngModel)]="mNight5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="yearly30GBFilterSelect">{{l("yearly30GB")}}</label>
								<select class="form-control" name="yearly30GBFilter" id="yearly30GBFilterSelect" [(ngModel)]="yearly30GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="yearly60GBFilterSelect">{{l("yearly60GB")}}</label>
								<select class="form-control" name="yearly60GBFilter" id="yearly60GBFilterSelect" [(ngModel)]="yearly60GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="yearly120GBFilterSelect">{{l("yearly120GB")}}</label>
								<select class="form-control" name="yearly120GBFilter" id="yearly120GBFilterSelect" [(ngModel)]="yearly120GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly500MBFilterSelect">{{l("Monthly500MB")}}</label>
								<select class="form-control" name="Monthly500MBFilter" id="Monthly500MBFilterSelect" [(ngModel)]="monthly500MBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly1GBFilterSelect">{{l("Monthly1GB")}}</label>
								<select class="form-control" name="Monthly1GBFilter" id="Monthly1GBFilterSelect" [(ngModel)]="monthly1GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly1point5GBFilterSelect">{{l("Monthly1point5GB")}}</label>
								<select class="form-control" name="Monthly1point5GBFilter" id="Monthly1point5GBFilterSelect" [(ngModel)]="monthly1point5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly2point5GBFilterSelect">{{l("Monthly2point5GB")}}</label>
								<select class="form-control" name="Monthly2point5GBFilter" id="Monthly2point5GBFilterSelect" [(ngModel)]="monthly2point5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly4GBFilterSelect">{{l("Monthly4GB")}}</label>
								<select class="form-control" name="Monthly4GBFilter" id="Monthly4GBFilterSelect" [(ngModel)]="monthly4GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly5point5GBFilterSelect">{{l("Monthly5point5GB")}}</label>
								<select class="form-control" name="Monthly5point5GBFilter" id="Monthly5point5GBFilterSelect" [(ngModel)]="monthly5point5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly7point1GBFilterSelect">{{l("Monthly7point1GB")}}</label>
								<select class="form-control" name="Monthly7point1GBFilter" id="Monthly7point1GBFilterSelect" [(ngModel)]="monthly7point1GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly11point5GBFilterSelect">{{l("Monthly11point5GB")}}</label>
								<select class="form-control" name="Monthly11point5GBFilter" id="Monthly11point5GBFilterSelect" [(ngModel)]="monthly11point5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly15GBFilterSelect">{{l("Monthly15GB")}}</label>
								<select class="form-control" name="Monthly15GBFilter" id="Monthly15GBFilterSelect" [(ngModel)]="monthly15GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>	
							<div class="col-md-3">
								<label for="Monthly27point5GBFilterSelect">{{l("Monthly27point5GB")}}</label>
								<select class="form-control" name="Monthly27point5GBFilter" id="Monthly27point5GBFilterSelect" [(ngModel)]="monthly27point5GBFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NextBestOffer1Filter">{{l("NextBestOffer1")}}</label>
									<input type="text" class="form-control" id="NextBestOffer1Filter" name="nextBestOffer1Filter" [(ngModel)]="nextBestOffer1Filter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NextBestOffer2Filter">{{l("NextBestOffer2")}}</label>
									<input type="text" class="form-control" id="NextBestOffer2Filter" name="nextBestOffer2Filter" [(ngModel)]="nextBestOffer2Filter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NextBestOffer3Filter">{{l("NextBestOffer3")}}</label>
									<input type="text" class="form-control" id="NextBestOffer3Filter" name="nextBestOffer3Filter" [(ngModel)]="nextBestOffer3Filter">
								</div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getProductRecommenderSystemNBO($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.ProductRecommenderSystemNBO.Edit', 'Pages.ProductRecommenderSystemNBO.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="customerID">
                                        {{l('CustomerID')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.customerID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastTransactionDate">
                                        {{l('LastTransactionDate')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.lastTransactionDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="numberOfdays">
                                        {{l('NumberOfdays')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.numberOfdays"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="clusters">
                                        {{l('Clusters')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.clusters"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="transactionAmount">
                                        {{l('TransactionAmount')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.transactionAmount"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="customerRegistrationLocation">
                                        {{l('CustomerRegistrationLocation')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.customerRegistrationLocation"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="lastTransactionLocation">
                                        {{l('LastTransactionLocation')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.lastTransactionLocation"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="probabilityOfChurn">
                                        {{l('ProbabilityOfChurn')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.probabilityOfChurn"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morecliq">
                                        {{l('morecliq')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morecliq"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="moretalk">
                                        {{l('moretalk')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.moretalk"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="moreflex">
                                        {{l('moreflex')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.moreflex"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="cliqlite">
                                        {{l('cliqlite')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.cliqlite"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="talkzone">
                                        {{l('talkzone')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.talkzone"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morelifeComplete">
                                        {{l('morelifeComplete')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morelifeComplete"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morebusiness">
                                        {{l('morebusiness')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morebusiness"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morelifePostpaid">
                                        {{l('morelifePostpaid')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morelifePostpaid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="moreflexPostpaid">
                                        {{l('moreflexPostpaid')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.moreflexPostpaid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="classicPostpaid">
                                        {{l('classicPostpaid')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.classicPostpaid"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="postpaidAccountBillPayment">
                                        {{l('postpaidAccountBillPayment')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.postpaidAccountBillPayment"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="postpaidBillBankPayment">
                                        {{l('postpaidBillBankPayment')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.postpaidBillBankPayment"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="iddRates">
                                        {{l('IDDRates')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.iddRates"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="roamingInfo">
                                        {{l('roamingInfo')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.roamingInfo"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="roamingRates">
                                        {{l('roamingRates')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.roamingRates"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="internationalGiftRecharge">
                                        {{l('internationalGiftRecharge')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.internationalGiftRecharge"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="umrahHajjRoaming">
                                        {{l('umrahHajjRoaming')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.umrahHajjRoaming"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="kwikcash">
                                        {{l('kwikcash')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.kwikcash"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morecredit">
                                        {{l('morecredit')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morecredit"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="automatedRecharge">
                                        {{l('automatedRecharge')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.automatedRecharge"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn=" moreWallet">
                                        {{l(' moreWallet')}}
                                        <p-sortIcon field="productRecommenderSystemNBO. moreWallet"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn=" microInsurance">
                                        {{l(' microInsurance')}}
                                        <p-sortIcon field="productRecommenderSystemNBO. micro-insurance"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="moresavers">
                                        {{l('moresavers')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.moresavers"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="morestatus">
                                        {{l('morestatus')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.morestatus"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="moretunez">
                                        {{l('moretunez')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.moretunez"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="corporateRbt">
                                        {{l('corporateRbt')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.corporateRbt"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="games">
                                        {{l('games')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.games"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="news">
                                        {{l('news')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.news"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="daily25MB">
                                        {{l('daily25MB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.daily25MB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="daily100MB">
                                        {{l('daily100MB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.daily100MB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="weekly150MB">
                                        {{l('weekly150MB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.weekly150MB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="dnight1GB">
                                        {{l('Dnight1GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.dnight1GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="mNight2GB">
                                        {{l('MNight2GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.mNight2GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="mNight5GB">
                                        {{l('MNight5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.mNight5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="yearly30GB">
                                        {{l('yearly30GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.yearly30GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="yearly60GB">
                                        {{l('yearly60GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.yearly60GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="yearly120GB">
                                        {{l('yearly120GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.yearly120GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly500MB">
                                        {{l('Monthly500MB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly500MB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly1GB">
                                        {{l('Monthly1GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly1GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly1point5GB">
                                        {{l('Monthly1point5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly1point5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly2point5GB">
                                        {{l('Monthly2point5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly2point5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly4GB">
                                        {{l('Monthly4GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly4GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly5point5GB">
                                        {{l('Monthly5point5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly5point5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly7point1GB">
                                        {{l('Monthly7point1GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly7point1GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly11point5GB">
                                        {{l('Monthly11point5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly11point5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly15GB">
                                        {{l('Monthly15GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly15GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="monthly27point5GB">
                                        {{l('Monthly27point5GB')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.monthly27point5GB"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nextBestOffer1">
                                        {{l('NextBestOffer1')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.nextBestOffer1"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nextBestOffer2">
                                        {{l('NextBestOffer2')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.nextBestOffer2"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nextBestOffer3">
                                        {{l('NextBestOffer3')}}
                                        <p-sortIcon field="productRecommenderSystemNBO.nextBestOffer3"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.ProductRecommenderSystemNBO.Edit', 'Pages.ProductRecommenderSystemNBO.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewProductRecommenderSystemNBOModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductRecommenderSystemNBO.Edit')"
														(click)="createOrEditProductRecommenderSystemNBOModal.show(record.productRecommenderSystemNBO.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductRecommenderSystemNBO.Delete')"
														(click)="deleteProductRecommenderSystemNBO(record.productRecommenderSystemNBO)">{{l('Delete')}}</a>
												</li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                                       (click)="showHistory(record.productRecommenderSystemNBO)">{{l('History')}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('CustomerID')}}</span>
											{{record.productRecommenderSystemNBO.customerID}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('LastTransactionDate')}}</span>
                                        <span *ngIf="record.productRecommenderSystemNBO.lastTransactionDate">
											{{record.productRecommenderSystemNBO.lastTransactionDate | momentFormat:'L'}}
                                        </span>
                                        <span *ngIf="!record.productRecommenderSystemNBO.lastTransactionDate">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NumberOfdays')}}</span>
											{{record.productRecommenderSystemNBO.numberOfdays}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Clusters')}}</span>
											{{record.productRecommenderSystemNBO.clusters}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('TransactionAmount')}}</span>
											{{record.productRecommenderSystemNBO.transactionAmount}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('CustomerRegistrationLocation')}}</span>
											{{record.productRecommenderSystemNBO.customerRegistrationLocation}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('LastTransactionLocation')}}</span>
											{{record.productRecommenderSystemNBO.lastTransactionLocation}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ProbabilityOfChurn')}}</span>
											{{record.productRecommenderSystemNBO.probabilityOfChurn}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morecliq')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morecliq" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morecliq" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('moretalk')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.moretalk" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.moretalk" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('moreflex')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.moreflex" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.moreflex" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('cliqlite')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.cliqlite" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.cliqlite" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('talkzone')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.talkzone" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.talkzone" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morelifeComplete')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morelifeComplete" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morelifeComplete" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morebusiness')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morebusiness" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morebusiness" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morelifePostpaid')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morelifePostpaid" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morelifePostpaid" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('moreflexPostpaid')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.moreflexPostpaid" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.moreflexPostpaid" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('classicPostpaid')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.classicPostpaid" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.classicPostpaid" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('postpaidAccountBillPayment')}}</span>
											{{record.productRecommenderSystemNBO.postpaidAccountBillPayment}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('postpaidBillBankPayment')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.postpaidBillBankPayment" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.postpaidBillBankPayment" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('IDDRates')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.iddRates" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.iddRates" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('roamingInfo')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.roamingInfo" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.roamingInfo" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('roamingRates')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.roamingRates" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.roamingRates" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('internationalGiftRecharge')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.internationalGiftRecharge" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.internationalGiftRecharge" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('umrahHajjRoaming')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.umrahHajjRoaming" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.umrahHajjRoaming" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('kwikcash')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.kwikcash" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.kwikcash" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morecredit')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morecredit" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morecredit" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('automatedRecharge')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.automatedRecharge" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.automatedRecharge" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l(' moreWallet')}}</span>
											{{record.productRecommenderSystemNBO. moreWallet}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l(' microInsurance')}}</span>
											{{record.productRecommenderSystemNBO. microInsurance}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('moresavers')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.moresavers" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.moresavers" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('morestatus')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.morestatus" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.morestatus" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('moretunez')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.moretunez" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.moretunez" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('corporateRbt')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.corporateRbt" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.corporateRbt" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('games')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.games" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.games" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('news')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.news" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.news" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('daily25MB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.daily25MB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.daily25MB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('daily100MB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.daily100MB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.daily100MB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('weekly150MB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.weekly150MB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.weekly150MB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Dnight1GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.dnight1GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.dnight1GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('MNight2GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.mNight2GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.mNight2GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('MNight5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.mNight5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.mNight5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('yearly30GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.yearly30GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.yearly30GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('yearly60GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.yearly60GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.yearly60GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('yearly120GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.yearly120GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.yearly120GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly500MB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly500MB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly500MB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly1GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly1GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly1GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly1point5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly1point5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly1point5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly2point5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly2point5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly2point5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly4GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly4GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly4GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly5point5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly5point5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly5point5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly7point1GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly7point1GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly7point1GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly11point5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly11point5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly11point5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly15GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly15GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly15GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Monthly27point5GB')}}</span>
                                        <div *ngIf="record.productRecommenderSystemNBO.monthly27point5GB" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.productRecommenderSystemNBO.monthly27point5GB" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NextBestOffer1')}}</span>
											{{record.productRecommenderSystemNBO.nextBestOffer1}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NextBestOffer2')}}</span>
											{{record.productRecommenderSystemNBO.nextBestOffer2}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NextBestOffer3')}}</span>
											{{record.productRecommenderSystemNBO.nextBestOffer3}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getProductRecommenderSystemNBO($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditProductRecommenderSystemNBOModal #createOrEditProductRecommenderSystemNBOModal (modalSave)="getProductRecommenderSystemNBO()"></createOrEditProductRecommenderSystemNBOModal>
    <viewProductRecommenderSystemNBOModal #viewProductRecommenderSystemNBOModal></viewProductRecommenderSystemNBOModal>
     <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
</div>