<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("CustomerID")}} :</h6>
                        {{ item.productRecommenderSystemNBO.customerID }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastTransactionDate")}} :</h6>
                        {{ item.productRecommenderSystemNBO.lastTransactionDate | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("NumberOfdays")}} :</h6>
                        {{ item.productRecommenderSystemNBO.numberOfdays }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Clusters")}} :</h6>
                        {{ item.productRecommenderSystemNBO.clusters }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TransactionAmount")}} :</h6>
                        {{ item.productRecommenderSystemNBO.transactionAmount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CustomerRegistrationLocation")}} :</h6>
                        {{ item.productRecommenderSystemNBO.customerRegistrationLocation }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastTransactionLocation")}} :</h6>
                        {{ item.productRecommenderSystemNBO.lastTransactionLocation }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ProbabilityOfChurn")}} :</h6>
                        {{ item.productRecommenderSystemNBO.probabilityOfChurn }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morecliq")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morecliq }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("moretalk")}} :</h6>
                        {{ item.productRecommenderSystemNBO.moretalk }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("moreflex")}} :</h6>
                        {{ item.productRecommenderSystemNBO.moreflex }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("cliqlite")}} :</h6>
                        {{ item.productRecommenderSystemNBO.cliqlite }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("talkzone")}} :</h6>
                        {{ item.productRecommenderSystemNBO.talkzone }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morelifeComplete")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morelifeComplete }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morebusiness")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morebusiness }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morelifePostpaid")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morelifePostpaid }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("moreflexPostpaid")}} :</h6>
                        {{ item.productRecommenderSystemNBO.moreflexPostpaid }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("classicPostpaid")}} :</h6>
                        {{ item.productRecommenderSystemNBO.classicPostpaid }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("postpaidAccountBillPayment")}} :</h6>
                        {{ item.productRecommenderSystemNBO.postpaidAccountBillPayment }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("postpaidBillBankPayment")}} :</h6>
                        {{ item.productRecommenderSystemNBO.postpaidBillBankPayment }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IDDRates")}} :</h6>
                        {{ item.productRecommenderSystemNBO.iddRates }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("roamingInfo")}} :</h6>
                        {{ item.productRecommenderSystemNBO.roamingInfo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("roamingRates")}} :</h6>
                        {{ item.productRecommenderSystemNBO.roamingRates }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("internationalGiftRecharge")}} :</h6>
                        {{ item.productRecommenderSystemNBO.internationalGiftRecharge }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("umrahHajjRoaming")}} :</h6>
                        {{ item.productRecommenderSystemNBO.umrahHajjRoaming }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("kwikcash")}} :</h6>
                        {{ item.productRecommenderSystemNBO.kwikcash }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morecredit")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morecredit }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("automatedRecharge")}} :</h6>
                        {{ item.productRecommenderSystemNBO.automatedRecharge }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l(" more-wallet")}} :</h6>
                        {{ item.productRecommenderSystemNBO. moreWallet }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l(" micro-insurance")}} :</h6>
                        {{ item.productRecommenderSystemNBO. microInsurance }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("moresavers")}} :</h6>
                        {{ item.productRecommenderSystemNBO.moresavers }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("morestatus")}} :</h6>
                        {{ item.productRecommenderSystemNBO.morestatus }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("moretunez")}} :</h6>
                        {{ item.productRecommenderSystemNBO.moretunez }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("corporateRbt")}} :</h6>
                        {{ item.productRecommenderSystemNBO.corporateRbt }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("games")}} :</h6>
                        {{ item.productRecommenderSystemNBO.games }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("news")}} :</h6>
                        {{ item.productRecommenderSystemNBO.news }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("daily25MB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.daily25MB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("daily100MB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.daily100MB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("weekly150MB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.weekly150MB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Dnight1GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.dnight1GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("MNight2GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.mNight2GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("MNight5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.mNight5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("yearly30GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.yearly30GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("yearly60GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.yearly60GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("yearly120GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.yearly120GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly500MB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly500MB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly1GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly1GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly1point5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly1point5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly2point5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly2point5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly4GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly4GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly5point5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly5point5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly7point1GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly7point1GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly11point5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly11point5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly15GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly15GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Monthly27point5GB")}} :</h6>
                        {{ item.productRecommenderSystemNBO.monthly27point5GB }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("NextBestOffer1")}} :</h6>
                        {{ item.productRecommenderSystemNBO.nextBestOffer1 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("NextBestOffer2")}} :</h6>
                        {{ item.productRecommenderSystemNBO.nextBestOffer2 }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("NextBestOffer3")}} :</h6>
                        {{ item.productRecommenderSystemNBO.nextBestOffer3 }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
